# TI MSPM0G3XXX

# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_MSPM0G3XXX
	bool "TI MSPM0 Family MSPM0G3XXX"
	select ARM
	select CPU_CORTEX_M0PLUS
	select SOC_FAMILY_TIMSPM0
	select CPU_CORTEX_M_HAS_SYSTICK
	help
	  Enable support for TI MSPM0G3XXX.
