# SPDX-License-Identifier: Apache-2.0

config ADC_MSPM0G3XXX
	bool "TI ADC MSPM0G3XXX driver"
	default y
	depends on DT_HAS_TI_MSPM0G3XXX_ADC_ENABLED
	help
	  Enable support for ADC on the TI MSPM0G3XXX series.
