# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_LP_MSPM0G3507=y
CONFIG_SOC_SERIES_MSPM0G3XXX=y
CONFIG_SOC_MSPM0G3507=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_BUILD_OUTPUT_HEX=y

# enable gpio driver
CONFIG_GPIO=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable pinctrl
CONFIG_PINCTRL=y
