# Texas Instruments MSPM0L2228

# Copyright (c) 2024 Texas Instruments
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "TI MSPM0 MCU Selection"
	depends on SOC_SERIES_MSPM0L2XXX

config SOC_MSPM0L2228
	bool "MSPM0L2228"
endchoice
